<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid row m-0 p-0">
        <div class="col-md-4 cols-sm-12 row m-0 py-1" style="height: 300px; background-color:blue;">
            <div class="col-6" style="height:100px; background-color:aqua;"></div>
            <div class="col-6" style="height:100px; background-color:white;"></div>
        </div>
        <div class="col-md-4 col-sm-6 row m-0 p-0" style="height: 300px; background-color:red;">
            <div class="col-md-12" style="height: 100px; background-color:green;"></div>
        </div>
        <div class="col-md-4 col-sm-6 row m-0 p-0" style="height: 300px; background-color:#05511c;">
            <div class="col-md-4" style="height: 300px; background-color:#e3ee8b;"></div>
            <div class="col-md-4" style="height: 100px; background-color:#c2793c;"></div>
            <div class="col-md-4" style="height: 100px; background-color:#4ad516;"></div>
        </div>
    </div>